#magna {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  font-family: Arial;
  font-weight: bold;
  font-size: 15vw;
  text-align: center;
  text-shadow: 2px 2px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation: rainbow 0.8s infinite;
}

.bt {
  position: fixed;
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #000;
  bottom: 0;
  width: 100%;
  line-height: 0.6cm;
}

@keyframes rainbow{0%{color:red}10%{color:#ff8000}20%{color:#ff0}30%{color:#80ff00}40%{color:#0f0}50%{color:#00ff80}60%{color:#0ff}70%{color:#0080ff}80%{color:#00f}90%{color:#8000ff}100%{color:#ff0080}}